[Unit]
Description=BVG Abfahrtsmonitor
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/bvg_abfahrt
User=pi
Group=pi

# Start
ExecStart=/usr/bin/docker-compose up -d

# Stop
ExecStop=/usr/bin/docker-compose down

# Neustart bei Fehler
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
